:root {
  --convesion-rate: 100%;
}

.ratio {
  padding-block-start: calc(var(--height) / var(--width) * var(--convesion-rate));
}

#ratio_2_1 {
  --height: 1;
  --width: 2;
}

#ratio_16_9 {
  --height: 9;
  --width: 16;
}

#ratio_4_3 {
  --height: 3;
  --width: 4;
}

#ratio_1_1 {
  --height: 1;
  --width: 1;
}
