.works_item {
   display: grid;
   grid-template-columns: repeat(6, 145px);
   grid-template-rows: repeat(4, 145px);
   column-gap: 15px;
   margin-block-start: 1rem;
}

.works_item_header {
  color: #ccc;
  display: grid;
  grid-column: 1 / 2;
}

.works_item_content {
   display: grid;
   grid-template-columns: repeat(6, 145px);
   column-gap: 15px;
}

.works_item_image_container {
   display: grid;
   grid-column: 1 / 7;
   grid-row: 1 / 7;
}

.works_item_navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 32px);
  column-gap: 10px;
  margin-inline-start: -0.75rem;
}

.works_item_navigation a {
  display: block;
  color: #ccc;
  padding: 0.75rem;
  text-decoration: none;
}

.works_item_navigation a b,
.works_item_navigation a:hover {
  color: #fff18f;
}
