section:nth-of-type(4) .example header {
  float: left;
  line-height: 36px;
  margin-bottom: 3rem;
}

section:nth-of-type(4) div.example div.form_toolbar {
  float: right;
  margin-left: 22rem;
  text-align: right;
  margin-top: -7rem;
}
.form_row {
  clear: both;
  margin: 1rem 0;
}
.field {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.form_row label {
  float: left;
  line-height: 39px;
  width: 9rem;
  text-align: right;
  margin-right: 1rem;
}

section:nth-of-type(4) div.form_actions {
  margin-left: 10rem;
}
