:root {
  --column: 10;
  --background-color: rgb(63, 63,63);
  --width-height: calc(var(--column) * 2 * 1px);
  --counter-increment: item;
}

#dry .grid {
  display: inline-grid;
  grid-template-columns: repeat(var(--column), var(--width-height));
}

#dry a {
  display: block;
  position: relative;
  width: var(--width-height);
  height: var(--width-height);
  background-color: var(--background-color);
  transition: background-color 1s;
  counter-increment: var(--counter-increment);
}

#dry a:hover {
  background-color: rgb(0, 0, 0);
}

#dry a::before {
  content: counter(var(--counter-increment));
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width-height);
  text-align: center;
  font-size: 10px;
  line-height: var(--width-height);
  font-weight: 700;
  color: var(--background-color);
  transition: color 1s;
}

#dry a:hover::before {
  color: rgb(255, 255, 255);
}


