ul {
  display: none;
}
input[type=checkbox]:checked ~ .dropdown_contents > ul {
    display: block;
}
li > a {
  text-decoration: none;
}
/*
 Shared state style
.dropdown {

}

.dropdown [type="checkbox"] {

}

.dropdown_trigger {

}

.dropdown_contents {

}
 Create default state: closed / unchecked

.dropdown_trigger {

}

.dropdown_contents{

}
 Create alternative state: open /checked
[type="checbox"]
*/
