/*1- Do you know what that special property is?
content
2- What functions can we use in that property's value?*/
/*content:counter (clause)
        attr ("action")
        url(imageURL)
3- What are the various pseudo-elements?
::-moz-progress-bar
::-moz-range-progress
::-moz-range-thumb
::-moz-range-track
::-ms-browse
::-ms-check
::-ms-clear
::-ms-expand
::-ms-fill
::-ms-fill-lower
::-ms-fill-upper
::-ms-reveal
::-ms-thumb
::-ms-ticks-after
::-ms-ticks-before
::-ms-tooltip
::-ms-track
::-ms-value
::-webkit-progress-bar
::-webkit-progress-value
::-webkit-slider-runnable-track
::-webkit-slider-thumb
::after (:after)
::backdrop
::before (:before)
::cue
::first-letter (:first-letter)
::first-line (:first-line)
::grammar-error
::marker
::part()
::placeholder
::selection
::slotted()
::spelling-error
4- Why would we use pseudo-elements?
We use pseudo-element because we want to select a specific element which need to be styled.
*/

/*1-How do we count in CSS - i.e. what declaration do we use?
We use calc declaration
counter:reset, counter:increment;
*/

/*2- How do we reset a counter?
We use counter-reset with its name-number pair separated by a space.
*/
/*div {
  counter-reset: chapter-count 2;
}
3- What are counters useful for?
It is more flexebility than using <ol> element
Tell a part of an html and we can make a decoration with it.
counter-reset
counter-set
counter-increment
1- Name as many properties as you can that are only related to lists
list-style:
list-style-image: url(imageURL)
list-style-position: inside, outside
list-style-type
2- What types of bullet styles are there?
square, circle, disc.
3- Can any group of elements be styled to look like a list?
Yes, we can use any element to style something to look like a list.
*/
body {
  margin-inline-start: 4rem;
}

p {
  display: list-item;
  list-style-type: disc;
}
border {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: .5rem;
  border-top-color: currentColor;
  border-top-color: red;
  border-bottom-color: green;
  border-right-color: yellow;
  border-left-color: blue;
  border-bottom-width: 5rem;
  border-left-width: 5rem;

}

Make the three triangle into trasparent and you can get the 1 triangle.
