/* Styles for all mediums go here */
@media all {

}
@media screen {
  body { font-size: 13px; }
}

@media screen, print {
  body { line-height:2; }
}
/* Only styles for printers please */
@media print {
}

  a::after {
    content: "[" attr(href) "]";
    color: cyan;
  }
 abbr::before {
   content: "[" attr(title) "]";
   color: cyan;
 }

 blockquote::after {
   content: "[" attr(cite) "]";
   color: cyan;
 }

 img::before {
   content: "[" attr(src) "]";
 }

