#section-sans-serif {
    font-family: Arial, Helvetica, sans-serif;
}

#section_serif {
    font-family: Georgia, Garamond, serif;
}

#section_monospace {
     font-family: courier New, Lucida Sans Typewriter, monospace;
}

.example h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-block-end:1em;
    font-variant-ligatures: none;
    letter-spacing: 0em;
}
.example h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-block-end:1em;
    font-variant-ligatures: none;
    letter-spacing: 0em;
}
.example h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-block-end:1em;
    font-variant-ligatures: none;
    letter-spacing: 0em;
}
.example h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-block-end:1em;
    font-variant-ligatures: none;
    letter-spacing: 0em;
}
.example h5 {
    font-size: 1rem;
    font-weight: 700;
    margin-block-end:1em;
    font-variant-ligatures: none;
    letter-spacing: 0em;
}
.example h6 {
    font-size: 1rem;
    font-weight: 700;
    margin-block-end:1em;
    font-variant-ligatures: small-caps;
    letter-spacing: 0em;
}
p.intro {
    font-size: 1.125rem;
    font-weight: 400;
    margin-block-end: 1em;
    font-variant-ligatures: none;
    letter-spacing: 0.1em;
}
p {
    font-size: 1rem;
    font-weight: 400;
    margin-block-end: 1em;
    font-variant-ligatures: none;
    letter-spacing: 0em;

}

p + small {
    font-size: 0.75rem;
    font-weight: 400;
    margin-block-end: 1em;
    font-variant-ligatures: none;
    letter-spacing: 0em;
}
