#dory {
    background-color: deepskyblue;
    background-image: url("../images/crab.png"),
                      url("../images/coral-reef.png"),
                      url("../images/bubble.png");
    background-position: center, bottom center, center;
    background-repeat: repeat-x, no-repeat, repeat;
    background-size: 20%, 150%, 30%;
    background-image: linear-gradient(to bottom, (rgba(30,75,115,1), rgba(255,255,255,0));
}

#Henry {
    background-color: honeydew;
    background-image: url("../images/sun.png"),
                      url("../images/grass-tile.png"), 
                      url("../images/grass-clump.png"),
                      url("../images/grass-left.png");
                      
    background-position: top center, left, center, right;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
    background-size: 200px, 400px;
    background-image: linear-gradient(to bottom, (rgba(30,75,115,1), rgba(255,255,255,0));
}

#lu-seal {
    background-color: deepskyblue;
    background-image: url("../images/crab.png"),
                      url("../images/palm.png"),
                      url("../images/palm-2.png"),
                      url("../images/beach-ball.png"),
                      url("../images/sun.png");
    background-position: bottom right, left, right, bottom left, top center;
    background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, no-repeat;
    background-size: 200px, 400px, 400px, 200px, 200px;
    background-image: linear-gradient(to bottom, (rgba(30,75,115,1), rgba(255,255,255,0));
}