/*li > [href="#/"] {
    visibility: visible;
}

nav a:not([href="#/"]) {
    visibility: hidden;
}
nav ul {
    visibility: hidden;
}

nav li:first-child {
    visibility: visible;
}
*/


/*[data-bg-color="yellow"],
[data-bg-color="blue"],
 tr:nth-child(2) { 
    display: none;
} 
*/

tr:nth-of-type(2),
[data-bg-color="blue"] {
    display: none;
}

span {
    display: none;
}

span {
    opacity: 0.5;
}

