img {
  max-width: 100%;
  height: auto;
}

/*
img {
  max-width: 100vw;
  max-height: 100vh;
}

img[width] [height] {
  width: auto;
  height: auto;
}
*/

table {
  min-width: 320px;
}

#table_container {
  overflow: auto;
}

svg {
  max-height: 100vh;
  max-width: 100vw;
}
