section:nth-of-type(3) .example {
  width: auto;
  height: 200px;
}

section:nth-of-type(3) .example svg:nth-of-type(1) {
  position: absolute;
  z-index: 0;
  width: 200px;
  height: 200px;
  top: 273%;
  right: 50%;
  left: 4%;
  bottom: 50%;
}

section:nth-of-type(3) .example svg:nth-of-type(2) {
  position: absolute;
  z-index: 0;
  width: 100px;
    height: 194px;
    top: 272%;
    left: 10%;
  }

  section:nth-of-type(3) .example svg:nth-of-type(3) {
    position: absolute;
    z-index: 0;
    width: 100px;
      height: 194px;
      top: 272%;
      left: 10%;
    }

    section:nth-of-type(3) .example svg:nth-of-type(4) {
      position: absolute;
      z-index: 0;
      width: 100px;
      height: 194px;
      top: 272%;
      left: 10%;
}
