section:nth-of-type(4) .example {
  width: auto;
  height: 200px;
}

section:nth-of-type(4) .example svg:nth-of-type(1) {
  position: absolute;
  z-index: 1;
  z-index: 1;
    width: 200px;
    height: 200px;
    bottom: -297%;
    right: 71%;
}
